<div id="game">
	<%if @loss_alert %>
		<div class="alert alert-error"><%=@loss_alert%></div>
	<%elsif @win_alert %>
		<div class="alert alert-success"><%=@win_alert%></div>
	<%elsif @push_alert %>
		<div class="alert"><%=@push_alert%>
			<% if @offer_insurance %>
					<a href="/insurance" class="btn btn-primary">Yes</a>
			  	<a href="/insurance" class="btn btn">No</a>
			<% end %>
		</div>
	<% else %>
		<div class="alert alert-info"><strong>Bankroll: $<%= session[:player_bankroll] - session[:player_winnings] %></strong></div>
	<% end %>

	<div class="well" id="table">
		<div id="dealer_hand" align="center" >
			<span style="color: #fff;"><strong>Dealer: </strong>
				<% if !@hide_dealer_card %>
					<span class="label label-info"><%= calculate_hand_total(session[:dealer_hand]) %></span>
				<% end %>
			</span>
			</br>
		  <% session[:dealer_hand].each_with_index do |card, i| %>
			  <% if @hide_dealer_card && i == 1 %>
			  	<img src="/images/cards/Cardback_Blue.png" height="9%" width="9%">
			  <% else %>
			    <%= get_card_image(card) %>
			  <% end %>
		  <% end %>
	 	</div>

		<br/>

		<div id="player_hand" class="player_hand_center" align="center">
			<span style="color: #fff;"><strong><%= session[:username] %>:</strong>
			<span class="label label-info"><%= calculate_hand_total(session[:player_hand]) %></span></span>
			</br>
		  <% session[:player_hand].each do |card| %>
		    <%= get_card_image(card) %>
		  <% end %>
		  <div align="center" id="bet_position">
				<span class="badge badge-inverse" id="bet_circle">$
					<% if @player_has_blackjack %>
						<%= session[:player_bet] %>
					<% else %>
						<%= session[:player_winnings] %>
					<% end %>
				</span>
			</div>
		</div>
	</div>

	<div class="well" id="bottom_well">
		<% if @show_hit_and_stay %>
			<div align="center" >
				<div id="action_buttons" class="btn-group">
					<a id='hit_button' href="/game/player_hit" class="btn btn-primary">Hit</a>
					<a id='stay_button' href="/game/player_stay" class="btn btn-danger">Stay</a>
					<% if (session[:player_bankroll] - session[:player_bet]) >= session[:player_bet] %>
						<a id='double_button' href="/game/player_double" class="btn btn-success">Double</a>
					<% end %>
				</div>
			</div>
		<% end %>

		<div align="center">
			<% if @show_play_again %>
				<div class="btn-group">
			    <strong>BANKROLL: $<%= session[:player_bankroll] %></strong>
			    <a id="deal_again_button" href="/game" class="btn btn-primary">Deal <i class="icon-repeat icon-white"></i> </a>
			    <a href="/bet" class="btn btn-primary">Change Bet</a>
			    <a href="/game_over" class="btn btn-inverse">Quit</a>
			  </div>
			<% end %>
		</div>
	</div>
</div>

